.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6rem 6rem 1.5rem 6rem;
    
}
.head-image{
    width: 40rem;
    transition: width 1s;
}
.head-image-extended{
    width: 40rem;
}
.head-image-contracted{
    width: 30rem;
}
.head-text{
    font-weight: 200;
    font-style: italic;
    font-family: cursive;
    margin: 1rem 10rem 1rem 15rem;
    transition: font-size 1s;
}
.head-text-extended{
    font-size: 3rem;
    
}
.head-text-contracted{
    font-size: 1.5rem;
    
}